# exportPattern("^[[:alpha:]]+")
export(update_R)
export(update_L)
export(update_C)
export(update_B)
export(simu_data_generation)
export(OSNMTF)
export(MSR)
export(initialization)
export(cost)
export(ASR)
export(Standard_Normalization)
export(dist2eu)
export(affinityMatrix)
import(dplyr)
importFrom(MASS,ginv)
importFrom(stats,kmeans)
importFrom(stats,rnorm)
importFrom(stats,dnorm)
